
.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #f7f4f4;
  border-radius: 10px;
  height: 400px;
  width: 500px;
  background-color:white;
  
  box-shadow: 0px 0px 15px rgba(95, 92, 92, 0.1);
  transition: all 0.3s ease;
}

/* Styling for counter buttons */
.counter-buttons {
  display: flex;
  justify-content: center;
  width: 200%;
  margin-top: 15px;
  gap: 10px; /* Adds space between the buttons */
}

/* Styling for individual buttons */
button {

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
 
  color: rgb(119, 123, 127);
  
}

button:hover {
  background-color: #070101;
}

/* Styling for counter value */
.counter-value h1 {
  font-size: 48px;
  margin: 0;
  color: rgb(119, 119, 119);
  margin-top: 30%;
}

/* Light theme styling */
.light_theme {
  
  background-color:white;
  height: 400px;
  width: 500px;
}

/* Dark theme styling */
.dark_theme {
  background-color: #030603;
  height: 400px;
  width: 500px;
}


